<article class="card" data-post-id="{{ p._id }}" id="article_post_padding">
  <header class="card-head">
    <div class="avatar">
      <img src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ p.anonymous_tag }}" alt="avatar" />
    </div>
    <div>
      <div class="tag">{{ p.anonymous_tag }}</div>
      <div class="time">{{ p.created_at.strftime('%Y-%m-%d %H:%M') }}</div>
    </div>
    {% if p.status %}
      <div class="status" data-col="status">{{ p.status }}</div>
    {% endif %}
  </header>

  {% if p.text %}
    <p class="text">{{ p.text }}</p>
  {% endif %}
  {% if p.image_url %}
    <img class="post-img" src="{{ p.image_url }}" alt="post image">
  {% endif %}

  <footer class="card-foot">
    
  </footer>
</article>
